    :root {
      --primary-color: #0077ff;
      --text-color: #fbfafa;
      --bg-color: #f8f9fc;
      --card-bg: #fff;
      --radius: 20px;
      --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {

      /* background-color: var(--bg-color); */
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 1rem;
    }
    
    
    .card {
      /* background: var(--card-bg); */
      position: relative; /* 游댳 Necesario para contener el fondo */
      overflow: hidden;   /* 游댳 Evita que el fondo se salga */
      border-radius: var(--radius);
      box-shadow: var(--shadow);
      max-width: 380px;
      width: 100%;
      text-align: center;
      padding: 2rem 1.5rem;
      transition: transform 0.3s ease;
    }
    
    .card:hover {
      transform: translateY(-5px);
    }
    
    .background {
      position: absolute;
      inset: 0;
      background: url('../imgs/fondo.jpg') center/cover no-repeat;
      opacity: .8;
      z-index: -1; /* coloca la imagen detr치s del contenido */
    }


    /* ======= FOTO ======= */
    .profile-pic {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      border: 3px solid var(--primary-color);
    }

    /* ======= TEXTO ======= */
    h1 {
      font-size: 1.5rem;
      color: var(--text-color);
    }

    h2 {
      font-size: 1rem;
      font-weight: 400;
      color: rgb(189, 185, 185);
      margin-bottom: 1rem;
    }

    .description {
      font-size: 0.9rem;
      color: #e7b9b9;
      margin-bottom: 1.5rem;
    }

    /* ======= BOTONES DE ACCI칍N ======= */
    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }

    .btn {
      background: var(--primary-color);
      color: white;
      border: none;
      padding: 0.6rem ;
      border-radius: 30px;
      font-size: 0.6rem;
      cursor: pointer;
      transition: 0.3s;
    }

    .button-btn-icon {
      font-size: 2rem;
    }

    .btn:hover {
      background: #005bd1;
    }


    /*========= CARRULSEL ========*/

    /* .carrusel {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom: 20px;
      scrollbar-width: none;
      
    }

    .carrusel::-webkit-scrollbar {
      display: none;
    }

    .elemento {
      flex: 1 0 auto;
      margin: 0 10px;
      background-color: red;
      width: 300px;
      height: 300px;
      border-radius: 20px;
    } */

    .carrusel {
      overflow: hidden;
      width: 100%;
      height: 300px;
      margin-bottom: 20px;
    }

    .contenedor {
      display: flex;
      width: calc(300px * 8); /* 8 elementos porque est치n duplicados */
      animation: mover 30s linear infinite;
    }

    .elemento {
      width: 300px;
      height: 300px;
      background: skyblue;
      margin-right: 20px;
      border-radius: 10px;
    }

    .img-elemento {
      width: 300px;
      height: 300px;
      margin-right: 20px;
      border-radius: 10px;
    }

    /* Animaci칩n infinita */
    @keyframes mover {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-300px * 4 - 20px * 4)); 
        /* Se mueve el tama침o de los primeros 4 elementos */
      }
    }


    /*CARROUSEL 2 */

    .slider {
      aspect-ratio: 10/16;
      width: 100%;
      height: 335px ;
      position: relative;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      margin-bottom: 20px;
    }
    .slider::-webkit-scrollbar {
      display: none;
    }

    .slider img {
      width: 100%;
      height: 335px ;
      left: 0;
      position: sticky;
      object-fit: cover;
      border-radius: 20px;
      scroll-snap-align: center;
    }

    /* ======= REDES SOCIALES ======= */
    .socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .btn-social {
      border-radius: 20px;
      border: none;
      background-color: rgb(225, 240, 240);
      display: flex;   
      padding: .8rem;
    }

    .btn-social:hover {
      transform: scale(1.02);
    }

    .an-btn-social {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:space-between;
      text-decoration: none;
    }

     .icon-social-1 {
      font-size: 3rem;
      width: 20%;
    }

    .text-btn {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-decoration: none;
      font-size: .7rem;
      width: 60%;
    }

    .icon-social-2 {
      color: #aaa;
      font-size: 2rem;
      width: 20%;
    }

    .btn-title {
      font-weight: bold;
    }

    /* .socials a {
      color: var(--primary-color);
      font-size: 1.4rem;
      transition: 0.3s;
      

    } */

    /* .socials a:hover {
      color: #005bd1;
      transform: scale(1.2);
    } */

    /* ======= PIE DE TARJETA ======= */

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: auto;

    }

    .btn-footer {
      background: var(--primary-color);
      color: white;
      border: none;
      padding: 0.6rem ;
      border-radius: 30px;
      font-size: 0.6rem;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 120px;
    }

    .btn-footer:hover {
      background: #005bd1;
    }

    .button-btn-icon-footer {
      background-color: rgb(225, 240, 240);
      font-size: 2rem;
      border-radius: 20px;
      color: var(--primary-color);
    }
    



    .copi {
      font-size: 0.8rem;
      color: #aaa;
      margin-top: 1rem;
    }

    .copi-2 {
      font-size: 0.8rem;
      color: #aaa;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img-logo-rs {
      width: 50px;
      border-radius: 15px;
      margin-left: 5px;
      cursor: pointer;
    }

    .img-logo-rs:hover {
      transform: scale(1.2);
    }

    @media (max-width: 480px) {
      .card {
        padding: 1.5rem 1rem;
      }
    }